OPENAI_API_KEY=
ANTHROPIC_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
PARSER_API_URL=
FRONTEND_API_URL=/chat
VINDECODER_API_BASE_URL=https://bp.autoiso.pl/api/v3
VINDECODER_API_UID=
VINDECODER_API_KEY=
