PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/car_diagnostic
N8N_WEBHOOK_URL=https://auto-diagnost.app.n8n.cloud/webhook/abf2cd35-c7c9-43e3-8adc-be94b22089f2
FREE_REQUESTS_LIMIT=5
